<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>690955757902-rfpu1p1k37thlh3rk7qqp8kpo9h3ukib.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.690955757902-rfpu1p1k37thlh3rk7qqp8kpo9h3ukib</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>690955757902-r40094onskutc9kc32ou2hs8o0d2urs8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA9Rejf0NNTA1Cwgejg_gqLuSbU7-7nxpU</string>
	<key>GCM_SENDER_ID</key>
	<string>690955757902</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appriverpodversion.appRiverpodVersion</string>
	<key>PROJECT_ID</key>
	<string>mainapprp</string>
	<key>STORAGE_BUCKET</key>
	<string>mainapprp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:690955757902:ios:b2fb7b9777e8aed745961f</string>
</dict>
</plist>